<div class="recursos">
  <div class="grid1">
    <div class="tituloGrid">
      <h1>Recursos Humanos:</h1>
    </div>
    <div class="cuerpoGrid">
      <p>La Empresa TLC (telecomunicaciones Bolivia) SRL. 
        Es una empresa relativamente joven, que cuenta con un personal experto en FIBRA OPTICA, 
        este personal lleva trabando en este campo aproximadamente 10 años.
      </p>
      <p>Esto hace que nuestra empresa sea líder en el área de FIBRA OPTICA y TELECOMUNICACIONES, 
        todo esto mantuvo la confianza de las diferentes empresas de telecomunicación a quienes a prestado 
        y presta actualmente servicios.
      </p>
    </div>
  </div>
  <div class="grid2">
    <div class="tituloGrid">
      <h1>Recursos Tecnologicos</h1>
    </div>
    <div class="cuerpoGrid">
      <p>Algo que realmente nos diferencia de otras empresas es que el material con el que contamos es tecnología
        de punta como ser:
      </p>
      <p>- Frecuenciometros.</p>
      <p>- Analizadores de espectro.</p>
      <p>- Analizadores digitales.</p>
      <p>- Computadoras portátiles.</p>
      <p>- Kit de herramientas.</p>
      <p>Y mucho mas.</p>
    </div>
  </div>
  <div class="grid3">
    <div class="tituloGrid">
      <h1>Recursos Logisticos</h1>
    </div>
    <div class="cuerpoGrid">
      <p>TLC actualmente cuenta con oficinas en los diferentes departamentos de nuestro País, 
        un almacén en la ciudad de El Alto, y otro en la ciudad de La Paz.
      </p>
      <p>Cuenta con las movilidades necesarias para el traslado de herramientas y material de trabajo, 
        para así alcanzar los objetivos y satisfacer las necesidades de todos nuestros clientes.
      </p>
    </div>
  </div>  
</div>
<div class="clientesC">
  <div class="clientesC1">
    <div class="grilla1">
      <div class="tituloGrid">
        <h1>Nuestros Clientes:</h1>
      </div>
      <div class="cuerpoGrid">
        <p>Todos nuestros clientes, pequeños o grandes, particulares o empresas, tienen una historia y prestigio que cuidar
          por ello nos sentimos alagados al saber que ellos nos elijan para ser sus proveedores de materiales o cuando contratan algunos de nuestros 
          servicios. 
        </p>
      </div>
    </div>
    <div class="grilla2">
      <img src="assets/Imagenes/fotoClientes3.png" alt="clientes"/>
    </div>
  </div>
  <div class="grilla3">
    <div class="cuerpoGrid1">
      <p>Cuenta con las movilidades necesarias para el traslado de herramientas y material de trabajo, 
        para así alcanzar los objetivos y satisfacer las necesidades de todos nuestros clientes.
      </p>
    </div>
  </div>
</div>

<div class="trabajosR"> 
  <div class="tituloGrid">
    <h1>Nuestros Trabajos Realizados:</h1>
  </div>
  <div class="gridTrabajos">
    <div class="posGrid">
      <a class="titulo">ODN PUNATA</a>
      <div class="posImg">
        <img src="assets/ImgWorks/redFibraOpticaPunata.png" alt="ODN Punata">
      </div>
    </div>
    <div class="posGrid">
      <a class="titulo">ODN BARRIO MINERO</a>
      <div class="posImg">
        <img src="assets/ImgWorks/redFibraOpticaBarrioMinero.png" alt="ODN Barrio Minero">
      </div>
    </div>
    <div class="posGrid">
      <a class="titulo">ODN QUILLACOLLO 1</a>
      <div class="posImg">
        <img src="assets/ImgWorks/redFibraOpticaQll1.png" alt="FDT 1">
      </div>
    </div>
    <div class="posGrid">
      <a class="titulo">ODN QUILLACOLLO 2</a>
      <div class="posImg">
        <img src="assets/ImgWorks/redFibraOpticaQll2.png" alt="FDT 2">
      </div>
    </div>
    <div class="posGrid">
      <a class="titulo">ODN MIZQUE</a>
      <div class="posImg">
        <img src="assets/ImgWorks/redFibraOpticaMizque.png" alt="ODN Mizque">
      </div>
    </div>
    <div class="posGrid">
      <a class="titulo">PROYECTO ACF2</a>
      <div class="posImg">
        <img src="assets/ImgWorks/proyectoACF2.png" alt="Proyecto ACF2">
      </div>
    </div>
  </div>
</div>