<div class="clasServicios">
    <div class="serviciosTxt">
        <h1>Servicios Que Ofrecemos:</h1>
    </div>
    <div class="servGrid">
        <div class="grillaSer">
            <div class="grillaBloq1">
                <div class="cabeceraSer">
                    <h1>Tendido De Cable</h1>
                </div>
                <div class="cuerpoSer">
                    <p>Tendido de cable de: Fibra Óptica y Planta Externa, tanto subterráneo como aéreo.</p>
                </div>
            </div>
            <div class="grillaBloq2">
                <img src="assets/ImgServicios/imgTendidoFibra.png" alt="tendido"> 
            </div>
        </div>
        <div class="grillaSer">
            <div class="grillaBloq1">
                <div class="cabeceraSer">
                    <h1>Empalmes De Fibra Óptica</h1>
                </div>
                <div class="cuerpoSer">
                    <p>Realización de empalmes de linea y terminación de fibra óptica en cables recien instalados o 
                        con tráfico.
                    </p>
                </div>
            </div>
            <div class="grillaBloq2">
                <img src="assets/ImgServicios/imgEmpalmeFibra.png" alt="empalme"> 
            </div>
        </div>
        <div class="grillaSer">
            <div class="grillaBloq1">
                <div class="cabeceraSer">
                    <h1>Certificación De Enlaces</h1>
                </div>
                <div class="cuerpoSer">
                    <p>Certificación de enlces de fibra óptica y planta externa.</p>
                </div>
            </div>
            <div class="grillaBloq2">
                <img src="assets/ImgServicios/imgCertificacionFibra.png" alt="certificacion"> 
            </div>
        </div>
        <div class="grillaSer">
            <div class="grillaBloq1">
                <div class="cabeceraSer">
                    <h1>Instalación De Racks</h1>
                </div>
                <div class="cuerpoSer">
                    <p>Instalación de armarios, racks, ODFs para enlaces de fibra optica y planta externa.</p>
                </div>
            </div>
            <div class="grillaBloq2">
                <img src="assets/ImgServicios/imgRacks.png" alt="racks"> 
            </div>
        </div>
        <div class="grillaSer">
            <div class="grillaBloq1">
                <div class="cabeceraSer">
                    <h1>Provición De Material</h1>
                </div>
                <div class="cuerpoSer">
                    <p>Provición de material, herramientas y equipos para fibra óptica.</p>
                </div>
            </div>
            <div class="grillaBloq2">
                <img src="assets/ImgServicios/imgProvicion.png" alt="provicion"> 
            </div>
        </div>
        <div class="grillaSer">
            <div class="grillaBloq1">
                <div class="cabeceraSer">
                    <h1>Obras Civiles</h1>
                </div>
                <div class="cuerpoSer">
                    <p>Obras civiles en general.</p>
                </div>
            </div>
            <div class="grillaBloq2">
                <img src="assets/ImgServicios/imgObrasCiviles.png" alt="Obras civiles"> 
            </div>
        </div>
    </div>
</div>