<div class="container">
    <div class="pos-lista">
        <div class="tarjetaImagen">
            <img src="assets/Imagenes/Exfo-OTDR.png" alt="OTDR Exfo">  
        </div>
        <div class="pieTarjeta">
            <p>OTDR EXFO</p>
            <button mat-raised-button (click)="AbrirDialogo1()">Descripción</button>
        </div>
    </div>
    <div class="pos-lista">
        <div class="tarjetaImagen">
            <img src="assets/Imagenes/Bandeja-12p.png" alt="Bandeja de 12 puertos">  
        </div>
        <div class="pieTarjeta">
            <p>Bandeja 12p/f</p>
            <button mat-raised-button>Descripción</button>
        </div>
    </div>
    <div class="pos-lista">
        <div class="tarjetaImagen">
            <img src="assets/Imagenes/Bobina-Lanzamiento.png" alt="Bobina de lanzamiento">  
        </div>
        <div class="pieTarjeta">
            <p>Bobina de L.</p>
            <button mat-raised-button>Descripción</button>
        </div>
    </div>
    <div class="pos-lista">
        <div class="tarjetaImagen">
            <img src="assets/Imagenes/Carreta-Fibra.png" alt="Carreta de Fibra">  
        </div>
        <div class="pieTarjeta">
            <p>Carrete de Fibra</p>
            <button mat-raised-button>Descripción</button>
        </div>
    </div>
    <div class="pos-lista">
        <div class="tarjetaImagen">
            <img src="assets/Imagenes/Fujikura-70s.png" alt="Fusionadora">  
        </div>
        <div class="pieTarjeta">
            <p>Fusionadora Fuj-70S</p>
            <button mat-raised-button>Descripción</button>
        </div>
    </div>
    <div class="pos-lista">
        <div class="tarjetaImagen">
            <img src="assets/Imagenes/Splitter-1x16.png" alt="Splitter 1x16">  
        </div>
        <div class="pieTarjeta">
            <p>Splitter 1x16</p>
            <button mat-raised-button>Descripción</button>
        </div>
    </div>
    <div class="pos-lista">
        <div class="tarjetaImagen">
            <img src="assets/Imagenes/amortiguadores-Adss.png" alt="Amortiguadores">  
        </div>
        <div class="pieTarjeta">
            <p>Amortiguador</p>
            <button mat-raised-button>Descripción</button>
        </div>
    </div>
    <div class="pos-lista">
        <div class="tarjetaImagen">
            <img src="assets/Imagenes/cruceta-55.png" alt="Cruceta">  
        </div>
        <div class="pieTarjeta">
            <p>Cruceta de 55cm</p>
            <button mat-raised-button>Descripción</button>
        </div>
    </div>
    <div class="pos-lista">
        <div class="tarjetaImagen">
            <img src="assets/Imagenes/CajaDeEmpalme.png" alt="Caja de empalme">  
        </div>
        <div class="pieTarjeta">
            <p>Mufla Coyote 48core</p>
            <button mat-raised-button>Descripción</button>
        </div>
    </div>
</div>
