<mat-card>
    <mat-tab-group mat-align-tabs="center"class="cabezaTab">
        <mat-tab label="INICIO">
            <mat-card class="tamaño-tarjeta">
                <img mat-card-image src="assets/Imagenes/logoTLC.png" width="300" height="300" alt="Foto prueva TLC">
                    <mat-card-content class="color-fondo">
                        <p>
                            Contenido de la pagina a crear
                            de aqui en adelante no se como poner
                            mas cosas
                        </p>
                    </mat-card-content>
            </mat-card> 
        </mat-tab>
        <mat-tab label="PRODUCTOS">
            <div class="container">
                <div class="pos-lista">
                    <mat-card class="tamaño-tarjeta">
                        <div>
                            <img mat-card-image src="assets/Imagenes/Exfo-OTDR.png" border="1" alt="Foto prueva TLC">
                        </div>
                            <mat-card-content class="color-fondo">
                                <p>
                                    Equipo Exfo OTDR
                                </p>
                            </mat-card-content>
                            <mat-card-actions>
                                <button mat-button (click)="AbrirDialogo()">Informacion</button>    
                            </mat-card-actions>
                    </mat-card>
                </div>
                <div class="pos-lista">
                    <mat-card class="tamaño-tarjeta">
                        <div class="pos-imagen">
                            <img mat-card-image src="assets/Imagenes/Bandeja-12p.png" alt="Foto prueva TLC">
                        </div>
                            <mat-card-content class="color-fondo">
                                <p>
                                    Bandeja 12 puertos frontal
                                </p>
                            </mat-card-content>
                    </mat-card>
                </div>
                <div class="pos-lista">
                    <mat-card class="tamaño-tarjeta">
                        <div class="pos-imagen">
                            <img mat-card-image src="assets/Imagenes/Bobina-Lanzamiento.png"  alt="Foto prueva TLC">
                        </div>
                            <mat-card-content class="color-fondo">
                                <p>
                                    Bobina de lanzamiento
                                </p>
                            </mat-card-content>
                    </mat-card>
                </div>
                <div class="pos-lista">
                    <mat-card class="tamaño-tarjeta">
                        <div class="pos-imagen">
                            <img mat-card-image src="assets/Imagenes/Carreta-Fibra.png"  alt="Foto prueva TLC">
                        </div>
                            <mat-card-content class="color-fondo">
                                <p>
                                    Carreta de fibra
                                </p>
                            </mat-card-content>
                    </mat-card>
                </div>
                <div class="pos-lista">
                    <mat-card class="tamaño-tarjeta">
                        <div class="pos-imagen">
                            <img mat-card-image src="assets/Imagenes/Fujikura-70s.png" alt="Foto prueva TLC">
                        </div>
                            <mat-card-content class="color-fondo">
                                <p>
                                    Fusionadora Fujikura 70s
                                </p>
                            </mat-card-content>
                    </mat-card>
                </div>
                <div class="pos-lista">
                    <mat-card class="tamaño-tarjeta">
                        <div class="pos-imagen">
                            <img mat-card-image src="assets/Imagenes/Splitter-1x16.png" alt="Foto prueva TLC">
                        </div>
                            <mat-card-content class="color-fondo">
                                <p>
                                    Splitter 1:16
                                </p>
                            </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="SERVICIOS"> Contenido Pagina </mat-tab>
        <mat-tab label="ACERCA DE"> Contenido Pagina </mat-tab>
        <mat-tab label="CONTACTOS"> Contenido Pagina </mat-tab>
    </mat-tab-group>
</mat-card>