<h2 mat-dialog-title>OTDR EXFO</h2>
<mat-dialog-content class="mat-typography">
  <h3>Reflectómetro óptico (OTDR) EXFO MAX-730C</h3>
  <p>Es un reflectómetro óptico portátil (OTDR) equipado con pantalla táctil de 7 pulgadas
    batería con capacidad suficiente para 12 horas de trabajo autónomo y carcasa resistente
    a caidas de baja altura.
    Diseñado para trabajar en las condiciones del campo.</p>

  <h3>Longitud de onda:</h3>
  <p>1310 nm y 1550 nm</p>

  <h3>Fibras utilizadas:</h3>
  <p>Monomodo</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cerrar</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button>
</mat-dialog-actions>

