<div class="classPrductos">
    <div class="headerProductos">
        <h1>Lista De Productos:<span style="color:rgb(9, 9, 43);"> aqui poner categoria. </span></h1>
    </div>
    <div class="contProdNav">
        <div class="contProdNav-N">
            <a class="categoriaProductos" category="all">Todos</a>
            <a class="categoriaProductos" category="fibraOptica">Fibra Óptica</a>
            <a class="categoriaProductos" category="conectOptica">Conectividad Óptica</a>
            <a class="categoriaProductos" category="instInternas">Instalaciones Internas</a>
            <a class="categoriaProductos" category="instExternas">Instalaciones Externas</a>
            <a class="categoriaProductos" category="insHerramientas">Herramientas</a>
            <a class="categoriaProductos" category="prodLimpieza">Productos De Limpieza</a>
        </div>
        <div class="contProdNav-P">
            <div class="posContProd" category="insHerramientas">
                <div class="tarjetaImagen">
                    <img src="assets/ImgProductos/Exfo-OTDR.png" alt="OTDR Exfo">  
                </div>
                <div class="pieTarjeta">
                    <p>OTDR EXFO</p>
                </div>
            </div>
            <div class="posContProd" category="instInternas">
                <div class="tarjetaImagen">
                    <img src="assets/ImgProductos/Bandeja-12p.png" alt="Bandeja de 12 puertos">  
                </div>
                <div class="pieTarjeta">
                    <p>Bandeja 12p/f</p>
                </div>
            </div>
            <div class="posContProd" category="insHerramientas">
                <div class="tarjetaImagen">
                    <img src="assets/ImgProductos/Bobina-Lanzamiento.png" alt="Bobina de lanzamiento">  
                </div>
                <div class="pieTarjeta">
                    <p>Bobina de L.</p>
                </div>
            </div>
            <div class="posContProd" category="fibraOptica">
                <div class="tarjetaImagen">
                    <img src="assets/ImgProductos/Carreta-Fibra.png" alt="Carreta de Fibra">  
                </div>
                <div class="pieTarjeta">
                    <p>Carrete de Fibra</p>
                </div>
            </div>
            <div class="posContProd" category="insHerramientas">
                <div class="tarjetaImagen">
                    <img src="assets/ImgProductos/Fujikura-70s.png" alt="Fusionadora">  
                </div>
                <div class="pieTarjeta">
                    <p>Fusionadora Fuj-70S</p>
                </div>
            </div>
            <div class="posContProd" category="conectOptica">
                <div class="tarjetaImagen">
                    <img src="assets/ImgProductos/Splitter-1x16.png" alt="Splitter 1x16">  
                </div>
                <div class="pieTarjeta">
                    <p>Splitter 1x16</p>
                </div>
            </div>
            <div class="posContProd" category="instExternas">
                <div class="tarjetaImagen">
                    <img src="assets/ImgProductos/amortiguadores-Adss.png" alt="Amortiguadores">  
                </div>
                <div class="pieTarjeta">
                    <p>Amortiguador</p>
                </div>
            </div>
            <div class="posContProd" category="instExternas">
                <div class="tarjetaImagen">
                    <img src="assets/ImgProductos/cruceta-55.png" alt="Cruceta">  
                </div>
                <div class="pieTarjeta">
                    <p>Cruceta de 55cm</p>
                </div>
            </div>
            <div class="posContProd" category="instExternas">
                <div class="tarjetaImagen">
                    <img src="assets/ImgProductos/CajaDeEmpalme.png" alt="Caja de empalme">  
                </div>
                <div class="pieTarjeta">
                    <p>Mufla Coyote 48core</p>
                </div>
            </div>
            <div class="posContProd" category="prodLimpieza">
                <div class="tarjetaImagen">
                    <img src="assets/ImgProductos/pañosLimpieza.png" alt="Paños de limpieza">  
                </div>
                <div class="pieTarjeta">
                    <p>Paños de limpieza de fibra optica</p>
                </div>
            </div>
            <div class="posContProd" category="prodLimpieza">
                <div class="tarjetaImagen">
                    <img src="assets/ImgProductos/alcoholSapolio.png" alt="Alcohol Isopropilico">  
                </div>
                <div class="pieTarjeta">
                    <p>Alcohol isopropilico</p>
                </div>
            </div>
        </div>
    </div>
</div>
