<div class="clasAcerca">
    <div class="textoAcerca">
        <h1>Acerca De Nosotros</h1>
    </div>
    <div class="gridContAcerca">
        <div class="grilla1">
            <div class="tituloContenido">
                <h1>Misión</h1>
            </div>
            <div class="cuerpoContenido">
                <p>La empresa TLC srl. tiene como misión, proporcionar a sus clientes los servicios de la mas alta calidad,
                poniendo toda la experiencia de su personal a disposición de las diferentes empresas del mercado nacional
                e internacional, realizando la aplicación de productos de ultima generación y una tecnología de punta que 
                garanticen a nuestros clientes el total y estricto cumplimiento de sus expectativas, de acuerdo a las
                normas de calidad vigentes.
                </p>
                <p>En este sentido, la empresa TLC srl. con la participación de todo el personal, encara los trabajos, 
                    bajo los siguientes criterios:
                </p>
                <p> - Encarar todos los trabajos, respetando las normas y exigencias dentro el mercado competitivo.  
                </p>
                <p> - Ofrecer a nuestros clientes soluciones de acuerdo a la exigencia del mismo, basadas en todos aquellos 
                productos de acuerdo al avance de la tecnología de última generación cuya aplicación repercute en 
                capacidad, calidad y precios competitivos.
                </p>
                <p> - Todo esto con el fin de satisfacer a las exigencias del cliente, TLC srl. asume el desafió que en la 
                actualidad nos plantea en un mercado dinámico y competitivo.
                </p>
            </div>   
        </div>
        <div class="grilla2">
            <img src="assets/ImgAcercaDe/imgMision.png" alt="Mision">      
        </div>
        <div class="grilla1">
            <div class="tituloContenido">
                <h1>Visión</h1>
            </div>
            <div class="cuerpoContenido">
                <p>La empresa TLC srl. Tiene como visión, de ser la primera elección ante las empresas, considerando 
                los años de experiencia de su personal calificado. Enfocar de acuerdo a la experiencia, nuevos 
                desafíos en el desarrollo de nuevos enlaces, que vayan a la par con la tecnología actual y ser 
                parte del cambio en cuanto a telecomunicaciones se refiere.
                </p>
            </div> 
        </div>
        <div class="grilla2">
            <img src="assets/ImgAcercaDe/imgVision.png" alt="Vision">  
        </div>
    </div>
</div>

